.fogot {
  padding-top: 60px; }

.result {
  text-align: left; }
  .result h2 {
    text-align: center; }

.tips {
  margin-left: 10px; }

.input-box {
  width: 240px;
  height: 30px;
  outline: none;
  border: none;
  padding-left: 8px;
  margin-left: 325px;
  margin-bottom: 20px; }

#get_v_code_btn {
  width: 108px;
  height: 26px;
  border: none;
  margin-left: 390px;
  outline: none;
  cursor: pointer;
  margin-bottom: 14px;
  background: url(../images/part4/get-password.png) no-repeat; }

.forgot-commit {
  margin-left: 395px;
  cursor: pointer;
  width: 102px;
  height: 35px;
  border: none;
  outline: none;
  background: url(../images/reg-login/commit.png) no-repeat; }
