/*
 * Author: yuanzm
 * LastEditDate: 2014-08-10
 * Description: This css stylesheet define the styles about the nav menus 
 */
#header {
  width: 995px;
  height: 140px;
  position: fixed;
  top: 0px;
  padding-top: 20px;
  margin: 0 auto;
  overflow: hidden; }
  #header .white-bg {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    background-color: #fff; }
    #header .white-bg .header-tip {
      margin-top: 5px;
      margin-right: 20px;
      float: right;
      color: #7e0300; }
  #header .logo {
    float: left; }
  #header .logined {
    display: block;
    position: relative;
    top: -9px;
    background: url(../images/header/after-login.png) no-repeat;
    width: 168px;
    height: 95px;
    font-weight: bold;
    font-size: 18px;
    color: #a2a2a2;
    padding-top: 25px;
    text-align: center; }

#nav {
  float: left;
  width: 620px;
  height: 140px; }
  #nav ul {
    margin-top: 19px;
    padding-left: 0; }
  #nav li {
    list-style: none;
    float: left; }
