#details {
  width: 936px;
  height: 565px;
  padding-top: 75px;
  background: url(../images/part3/part3-bg.png) no-repeat; }
  #details img {
    width: 570px;
    height: 220px;
    float: left; }
  .pic-set {
    overflow: hidden; }
  #details .delicacies-list {
    width: 865px;
    height: 220px;
    margin-left: 25px;
    background-color: #dcdcdc;
    margin-bottom: 20px;
    position: relative; }
  .detail-description {
    font-size: 22px;
    font-weight: bold;
    color: #636363;
    display: block;
    position: absolute;
    top: 40px;
    left: 590px; }
  .detail-content {
    font-size: 18px;
    color: #6c6c6c;
    display: block;
    padding-right: 20px;
    position: absolute;
    top: 85px;
    left: 590px; }
