{% extends "admin/index.html" %}
{% import "bootstrap/wtf.html" as wtf%}
{% block body %}
<div class="container">
  <form method="POST">
    {{form.hidden_tag()}}

    {{wtf.form_field( form.mealList) }}
    {{wtf.form_field( form.addressList ) }}
    {{wtf.form_field( form.amount )}}
    供应时间:
    <input type="date" name="date" class="form-control"> <br>
    开始时间: <input type="time" name="startTime" class="form-control">
    <br>
    结束时间: <input type="time" name="endTime" class="form-control">
    <br>
    {{wtf.form_field(form.submit)}}
  </form>
</div>

<hr>

{% for tform in tForms %}
  <div class="container">
    <form action="{{url_for("admin.editAMeal")}}" method="POST">
      {{tform.hidden_tag()}}

      {{tform.id(class="hidden")}}
      {{wtf.form_field(tform.mealList)}}
      {{wtf.form_field(tform.addressList)}}
      {{wtf.form_field(tform.amount)}}
      {{wtf.form_field(tform.availableNumber)}}
      {{wtf.form_field(tform.date)}}
      {{wtf.form_field(tform.startTime)}}
      {{wtf.form_field(tform.endTime)}}
      {{wtf.form_field(tform.submit)}}
      <input type="submit" formaction="{{url_for('admin.deleteAMeal')}}" value="删除" class="btn btn-danger">
    </form>
  </div>
  <hr>
{% endfor %}

{% endblock %}
