<form method="POST">
  {{form.hidden_tag()}}

  {{form.mealList}}
  <br>
  {{form.addressList}}
  <br>
  数量:{{form.amount}}
  <br>
  供应时间:
  <input type="date" name="date">
  startTime: <input type="time" name="startTime">
  <br>
  endTime: <input type="time" name="endTime">
  <br>
  {{form.submit}}
</form>

{% for ameal in ameals %}
<div>
  id:<p>{{ameal.id}}</p>
  地址id:<p>{{ameal.addressId}}</p>
  总数:j<p>{{ameal.amount}}</p>
  剩下:<p>{{ameal.availableNumber}}</p>
  日期:<p>{{ameal.date}}</p>
  开始时间:<p>{{ameal.startTime}}</p>
  结束时间:<p>{{ameal.endTime}}</p>
</div>
{% endfor %}
