{% extends "admin/index.html" %}

  {% block body %}
  <h1>图片</h1>
  <form method="POST" enctype=multipart/form-data action="/admin/pic">
    {{form.hidden_tag()}}

    <input type="file" name="pic"/>
    <br>
    {{form.type}}
    <br>
    {{form.title.label}}:{{form.title}}
    <br>
    {{form.description.label}} {{form.description}}
    <br>
    {{form.mealList}}
    <br>
    {{form.submit}}
  </form>

  {% for pic in pics %}
  <div style="width:200px; height:350px;">
    <p>{{pic.type}}</p>
    标题:<p>{{pic.title}}</p>
    描述:<p>{{pic.description}}</p>
    <img src="{{url_for('static', filename='pic/' + pic.name) }}" alt="" width="100%">
    <form action="{{url_for('admin.deletePic')}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" name="id" value="{{pic.id}}" style="display:none">
      <input type="submit" value="删除">
    </form>
  </div>
  {% endfor %}

{% endblock %}
