<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<form method="POST" enctype=multipart/form-data action="/admin/pic">
  {{form.hidden_tag()}}

  <input type="file" name="pic"/>
  <br>
  {{form.type}}
  <br>
  {{form.description.label}} {{form.description}}
  <br>
  {{form.mealList}}
  <br>
  {{form.submit}}
</form>

{% for pic in pics %}
<div>
  <p>id: {{pic.id}}</p>
  <p>{{pic.type}}</p>
  <img src="{{url_for('static', filename='pic/' + pic.name) }}" alt="" >
</div>
{% endfor %}
</body>
</html>

