body {
	padding-top: 21px;
	font-family: "Microsoft Yahei";
}
ul{
	padding-left: 0px;
	li {
		list-style: none;
	}
} 
a {
	cursor: pointer;
}
.part {
	width: 990px;
	margin: 0 auto;
	margin-bottom: 50px;
}