@charset "UTF-8";
@import "public";
#main_container {
	width: 933px;
	height: 340px;
	margin-top: 175px;
	background: url(../images/part1/part1-bg.png) no-repeat;
	position: relative;
	.description {
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		color: white;
		width: 175px;
		height: 46px;
		position: absolute; 
		bottom: 0;
		left: 0;
		background: url(../images/part1/food-name.png) no-repeat;
	}

	.point-chan {
		@include set-position(absolute,294px,453px);
		width: 57px;
		height: 47px;
		color: white;
		cursor: pointer;
		text-align: center;
		background: url(../images/part1/point-chain.png) no-repeat;

		.chan {
			display: block;
			font-size: 15px;
			margin-top: 2px;
			margin-left: 33px;
		}
	}
	.chan-button {
		position: relative;
		width: 57px;
		height: 47px;
		left: -33px;
		top: -43px;
		opacity: 0;
	}
	@at-root #get_meal {
		float: left;
		overflow: hidden;
	}
	//美食图片样式
	.meal-pic {
		width: 509px;
		height: 339px;
		float: left;
	}
	//第一部分右边样式
	.part1-right {
		width: 422px;
		float: left;
	}

}


/* part price begin*/
#price_part {
	width: 412px;
	height: 152px;
	margin-top: 18px;
	margin-left: 10px;
	position: relative;

	@at-root {
		.get-food-button {
			display: block;
			@include set-position(absolute,26px,70px);
			button {
				border: none;
				outline: none;
				padding: 0px;
			}
		}
		button {
			border:none;
		}
		#real_price {
			font-size: 30px;
			font-weight: 900;
			color: #7e0300;
			@include set-position(absolute,35px,255px);
		}
		#price_information {
			overflow: hidden;
		}
		#price_information ul {
			@include set-position(absolute,80px,95px);
			li {
				font-size: 16px;
				font-weight: bold;
				float: left;
				margin-left:40px;
				display: block;
				text-align: center;	
				color: #626564;
			}
			li:first-child {
				margin-left: 0px;
			}

		}

	}

}
/* part price end*/

/*time count begin*/
#count_container {
	width: 412px;
	height:150px;
	margin-left: 10px;
	position: relative;
	@at-root .time-state {
		display: inline-block;
		margin-top: 15px;
		margin-left: 27px;
		font-size: 17px;
		line-height: 20px;
	}
	@at-root .time-count {
		color: #830906;
		font-weight: 900;
		font-size: 32px;
		margin-left: 85px;
		margin-top: 15px;
	}

	@at-root .remain-num {
		.fixed-width {
			letter-spacing: 5px;
		}
		@include set-position(absolute,100px,235px);
		font-size: 15px;
	}

	@at-root .users {
		@include set-position(absolute,100px,75px);

	}
}
/*time count end*/
