@charset "UTF-8";
@import "public";

#introduction {
	width: 936px;
	height : 685px;
	padding-top: 40px;
	background: url(../images/part2/part2-bg.png) no-repeat;
	img {
		width: 265px;
		height: 175px;
		margin-left: 30px;
		margin-top: 34px;
		float: left;
	}
	@at-root .pic-set {
		overflow: hidden;
	}
}