@charset "UTF-8";
@import "public";

/*
 * Author: yuanzm
 * LastEditDate: 2014-08-10
 * Description: This css stylesheet define the styles about the part of "美味佳肴" 
 */
#introduction {
	position: relative;
	top: 140px;
	width: 936px;
	height : 640px;
	padding-top: 40px;
	background: url(../images/part2/part2-bg.png) no-repeat;
	img {
		width: 265px;
		height: 175px;
		margin-left: 30px;
		margin-top: 34px;
		float: left;
	}
	@at-root .pic-set {
		overflow: hidden;
	}
}