<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" charset="utf-8">
  <title>唯美食</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
  <header>
    <div class = "white-bg"></div>
    <a href="\"><img class = "logo" src="{{url_for('static', filename='images/logo.png')}}"></a>
    <nav>
      <ul>
        <li><a ><img  src="{{url_for('static', filename='images/header/menu1-2.png')}}"></a></li>
        <li><a ><img  src="{{url_for('static', filename='images/header/menu2.png')}}"></a></li>
        <li><a ><img  src="{{url_for('static', filename='images/header/menu3.png')}}"></a></li>
        {% if not current_user.is_authenticated() %}
        <li><a><img  src="{{url_for('static', filename='images/header/menu4.png')}}"></a></li>
        {% else %}
        <li class = "logined without">
          <span class = "welcome">欢迎回来~</span> <br />
          <span><span class = "welcome">美食家 </span>
          <span>
            {% if current_user.nickName == "" or current_user.nickName == None%}
              {{current_user.phoneNumber}}
            {% else %}
              {{current_user.nickName}}
            {% endif %}
          </span>
        </span>
         </li>
        {% endif %}
      </ul>
    </nav>
    </header>

  {% block body %}
  {% endblock%}

    <script>
      csrftoken = "{{ csrf_token() }}"
    </script>
    <script src="{{url_for('static', filename="js/jquery-1.11.1.min.js")}}">
    </script>
    <script src="{{url_for('static', filename="js/reg_login.js")}}"></script>
    <script src="{{url_for('static', filename="js/main.js")}}"></script>
    <script src="{{url_for('static', filename="js/header.js")}}"></script>
    <script src="{{url_for('static', filename="js/formValid.js")}}"></script>
    <script src="{{url_for('static', filename="js/get-food.js")}}"></script>
</body>
</html>

