<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    csrftoken = "{{ csrf_token() }}"
  </script>
  <script src="{{url_for('static', filename="js/jquery-1.11.1.min.js")}}">
  </script>
  <script src="{{url_for('static', filename="js/main.js")}}"></script>
  <meta charset="UTF-8">
  <title>唯美食</title>
</head>
<body>
  <!-- navigator-->
  <ul>
    <li><a href="#get_meal">闪电抢食</a></li>
    <li>美味佳肴</li>
    <li>山珍海味</li>
    {% if not current_user.is_authenticated() %}
      <li><a href="#reg_login">登陆/注册</a></li>
    {% else %}
      <li><a href="/logout">登出</a></li>
    {% endif %}
  </ul>
  {% block body %}
  {% endblock %}
</body>
</html>
