{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% endblock %}

{%block title %}唯美食{% endblock %}
  {% block navbar %}
  <!-- navigator-->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">唯美食</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/#get_meal">闪电抢食</a></li>
        <li><a href="/#introduction">美味佳肴</a></li>
        <li><a href="/#details">山珍海味</a></li>
        {% if not current_user.is_authenticated() %}
          <li><a href="/#reg_login">登陆/注册</a></li>
        {% else %}
          <li><a href="{{url_for('main.ForgotPassword')}}">找回密码</a></li>
        {% endif %}
      </ul>
      {% if current_user.is_authenticated() %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">用户:
            {% if current_user.nickName == "" or current_user.nickName == None%}
              {{current_user.phoneNumber}}
            {% else %}
              {{current_user.nickName}}
            {% endif %}
        </a></li>
      </ul>
      {% endif %}

    </div> <!-- end of .container-fluid -->

  </div>
  {% endblock %}
  <!-- navigator ends -->
  {% block scripts %}
    <script>
      csrftoken = "{{ csrf_token() }}"
    </script>
    <script src="{{url_for('static', filename="js/jquery-1.11.1.min.js")}}">
    </script>

    <script src="{{url_for('static', filename="js/reg_login.js")}}"></script>
    <script src="{{url_for('static', filename="js/main.js")}}"></script>
    {{ super() }}
  {% endblock %}


