{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body%}

  <div class="container">
    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
      </div>
    {% endfor %}
  </div>

  <div class="container">
    {% if msg %}
    <p style="color:red">{{msg}}</p>
    {% endif %}
    {{wtf.quick_form(login_form)}}
    <a href="{{url_for("main.register")}}">注册</a>
  </div>
{% endblock %}
