<link rel="stylesheet" href="{{url_for('static', filename='css/part1.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/part2.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/part3.css')}}">
<!-- main demonstration part -->
<div  id="main_container" class = "part"> <!-- main container -->
  <div id="get_meal">
    <span id="mealID" style="display:none;">{{meal.id}}</span>
    {% if mainPict %}
      <img src="{{url_for("static", filename = "pic/" + mainPict.name)}}" class = "meal-pic" alt="">
    {% endif %}
    <div class = "description">
      <span>{{meal.description}}</span>
    </div>
    <div class = "point-chan">
      <span id="likes">{{meal.likes.__len__()}}</span><span class = "chan">赞<span>
      {% if current_user.is_authenticated() %}
        {% if flag == 1 %}
          <button id="mealLike" class="btn btn-default chan-button">赞</button>
        {% else %}
          <span>已点赞</span>
        {% endif %}
      {% endif %}
    </div>
  </div> <!-- #getmeal container ends-->
  <div class = "part1-right"> <!-- counting and price container-->
    <!-- price -->
    <div id="price_part">
        <!-- <span>{{startDuration}}</span> -->
        <span id="real_price">￥{{meal.price * meal.discount}}</span>
          {%if startDuration > 0 %} 
            <a class = "get-food-button">
              <button >
                 <img  src="{{url_for('static', filename='images/part1/get-food-before.png')}}">
              </button>
            </a>
          {% else %}
            {% if ameal.availableNumber > 0 %}
              {% if not current_user.is_authenticated() %}
                <a class = "get-food-button no-login-button">
                  <button>
                     <img  src="{{url_for('static', filename='images/part1/get-food.png')}}">
                  </button> 
                </a>
              {% else %}
              <a class = "get-food-button" href="{{url_for('main.MakeOrder', amealID=ameal.id)}} ">
                <button>
                   <img  src="{{url_for('static', filename='images/part1/get-food.png')}}">
                </button> 
              </a>
              {% endif %}
            {% else %}
              <a class = "get-food-button">
                <button >
                   <img  src="{{url_for('static', filename='images/part1/food-out.png')}}">
                </button>
              </a>
            {% endif %}
          {% endif %}

        <div id="price_information">
          <ul>
            <li>
              <span>市场价</span>
              <br>
              <span class = "price_information_num">￥{{meal.price}}</span>
            </li>
            <li>
              <span>折扣</span>
              <br>
              <span class = "price_information_num">{{meal.discount}}</span>
            </li>
            <li>
              <span>为您节省</span>
              <br>
              <span class = "price_information_num">￥{{meal.price * (1 - meal.discount)}}</span>
            </li>
          </ul>

        </div> <!-- #price_information ends-->
    </div><!-- price ends -->
      <!-- counting part -->
        <div id="count_container">
          <!-- <p>倒计时</p> -->
          <div id="start_count" {%if startDuration <= 0 %} style="display:none;"{% endif %}>
            <span class = "time-state">马上就要开抢了</span><br>
            <div class = "time-count">
              <span id="s_hour">
                0
              </span>时
              <span id="s_minute">
                0
              </span>分
              <span id="s_second">
                {{startDuration}}
              </span>秒
            </div>
            <div class = "users"> 
              <span class = "fixed-width">共有1348名</span>
              <br>
              <span>美食家正在等待抢食</span>
            </div>

            <div class = "remain-num">
              <span class = "fixed-width">共有{{ameal.availableNumber}}份</span>
              <br>
              <span>美食将被抢食一空</span>
            </div>

          </div>

          <div id="end_count"  {%if startDuration > 0 %} style="display:none;"{% endif %}>
            <span class = "time-state">距离美食疯狂抢结束 ：</span><br>
            <div class = "time-count">
              <span id="e_hour">
                0
              </span>时
              <span id="e_minute">
                0
              </span>分
              <span id="e_second">
                {{endDuration}}
              </span>秒
            </div>

            <div class = "users"> 
              <span class = "fixed-width">共有{{population}}名</span>
              <br>
              <span>美食家正在疯抢</span>
            </div>

            <div class = "remain-num">
              <span class = "fixed-width">还剩<span class = "detail-num">{{ameal.availableNumber}}</span>份</span>
              <br>
              <span>美食即将售完</span>
            </div>
        </div>
     </div>
    <!-- count part ends -->
  </div><!-- counting and price container ends-->
</div><!-- main container ends-->
<!-- main demonstration part end -->


<!-- 美味佳肴 part -->
<div id="introduction" class = "part">
  <div class = "pic-set">
  {% for pic in mealPics %}
    <img data-src="holder.js/300*300" src="{{url_for('static', filename="pic/" + pic.name)}}" alt="" class="img-rounded img-responsive" >
  {% endfor %}
  </div>
</div>
<!-- 美味佳肴 part ends-->

<!-- Details part -->
<div id="details" class = "part">
  <div class = "pic-set">
    {% for pic in materialPics %}
      <div class = "delicacies-list">
        <img src="{{url_for('static', filename="pic/" + pic.name) }}" alt="" class="img-rounded img-responsive">

         <span class = "detail-description">鸡腿肉</span>
         <span class = "detail-content">一种取自鸡的大腿的肉（带骨头的）,当然他还有引申义：特指一些身体强健，能奔能跑(也称"跑不死")。</span>

      </div>
    {% endfor %}
  </div>
</div>
<!-- Detalis part ends -->


