{% import "bootstrap/wtf.html" as wtf %}
<div id="reg_login" class="container col-md-offset-2 col-md-5">
    <button type="button" class="btn-default btn" name="t_reg_btn">注册</button>
    <button type="button" class="btn btn-default" name="t_log_btn">登陆</button>
    <form method="POST" action="/register" id="register_form" class="" role="form">
      <div class="form-group">
        {{userForm.hidden_tag()}}
        {{ wtf.form_errors( userForm, hiddens="only" ) }}

        手机号:{{ userForm.phoneNumber(class="form-control") }} <br />
        验证码: {{userForm.verification(class="form-control")}} <button type="button" class="btn btn-default" id="get_v_code_btn">获取验证码</button><br>

        昵  称:{{ userForm.nickName(class="form-control") }} <br />
        密 码:{{ userForm.password(class="form-control") }} <br />
        地 址:{{ userForm.addresses(class="form-control") }} <br>
        <button type="button" id="register_button" class="btn btn-default">注册</button>
      </div>
    </form>

    <form method="POST" id="loginForm" action="/login" style="display:none;">
      <div class="form-group">
        {{userForm.hidden_tag()}}
        手机号:{{loginForm.phoneNumber(class="form-control")}} <br />
        密 码:{{loginForm.password(class="form-control")}} <br />
        <button id="loginButton" type="button" class="btn btn-default">登陆</button>
      </div>
    </form>
</div>

